<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SAKA.Bussiness.Properties.Settings.KPIConnectionString"
            connectionString="Data Source=IHSAN-PC\MSSQLWISSENYAZ8;Initial Catalog=KPI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>